body {
  background: white;
  color: #404040;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}

.border {
  height: 28em;
  width: 28em;
  margin-left: 95px;
  margin-right: 1px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #66c2ff;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

ul {
  list-style: none;
}

#animals {
  margin-bottom: 5px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

#kids {
  margin-bottom: 150px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

#environment {
  margin-bottom: 825px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

.item {
  align-items: center;
  max-width: none;
}

.carousel {
  margin: 0 auto;
  max-width: 100%;
  background-color: #66c2ff;
}
#carousel-example-generic.carousel.slide {
  background-color: #66c2ff;
}

.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
}

h3 {
  background-color: #66c2ff;
}

 .dropdown {
   text-align: center;
 }

 .form-control  {
   margin-bottom: -10px;
   width: 100%;

 }

 #center-inputs{
  width: 100%;
  margin-left: 8%;
  margin-bottom: 10px;
 }

#distance {
   margin-bottom: -40px;
 }
 /*Controls the header on the first page. Does not control the tittle*/
 .page-header {
   text-align: center;
   background-color: #66c2ff;
   height: 100px;
   margin-top: -40px;
   margin-bottom: -20px;
 }
/*Control padding of Volunteer Connection tittle*/
#header-title {
  padding-top: 30px;
  font-family: Tahoma serif;
  text-shadow: black 1px;
}
/*Bottom header: It says "Type in a search keyboard below or click"*/
#bottom-header {
  height: 50px;
  margin-top: -20px;
  text-indent: center;
  background-color: #66c2ff;
  text-align: center;
  padding-top: 10px;
  font-family: Georgia serif;
}

/*-----------
MEDIA QUERIES
------------*/
@media only screen and (max-width: 2300px) {
  #environment {
    margin-bottom: 700px;
  }
}

@media only screen and (max-width: 2000px) {
  #environment {
    margin-bottom: 600px;
  }
}

@media only screen and (max-width: 1800px) {
  #environment {
    margin-bottom: 550px;
  }
}

@media only screen and (max-width: 1600px) {
  #environment {
    margin-bottom: 500px;
  }
}

@media only screen and (max-width: 1400px) {
  #environment {
    margin-bottom: 425px;
  }
}

@media only screen and (max-width: 1300px) {
  #environment {
    margin-bottom: 325px;
  }
}

@media only screen and (max-width: 1200px) {
  #environment {
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 1030px) {
  #environment {
    margin-bottom: 235px;
  }
}

@media only screen and (max-width: 990px) {
  #environment {
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 930px) {
  #environment {
    margin-bottom: 125px;
  }
}

@media only screen and (max-width: 790px) {
  #animals, #kids, #environment {
    font-size: 200%;
  }
}

@media only screen and (max-width: 540px) {
  #kids {
    margin-bottom: 10px;
  }
}
  #environment {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 480px) {
  #environment {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 425px) {
  #environment {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 340px) {
  #environment {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .search input {
    width: 85%;
    margin-left: 15px;
  }
  .btn {
    margin-left: 15px;
  }
}

/*Media querie for bottom header on the main page*/
/*Media querie for 1040px*/
@media only screen and (max-width: 1040px) {
  #bottom-header {
    margin-bottom: 0px;
    font-size: 98%;
  }
}
/*media querie for 325px*/
@media only screen and (max-width: 325px) {
  #bottom-header {
    margin-bottom: 0px;
    font-size: 9px;
  }
}
/*media querie for header in index. "volunteer connection. get involved"*/
@media only screen and (max-width: 500px) {
  #header-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 770px) {
  #center-inputs {
    width: 80%;
  }
}
/*End of Media querie*/
