#animals {
  margin-bottom: 5px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

#kids {
  margin-bottom: 150px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

#environment {
  margin-bottom: 825px;
  font-size: 500%;
  text-shadow: 2px 2px black;
}

.item {
  align-items: center;
  max-width: none;
}

.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
}

h3 {
  background-color: #66c2ff;
}

 .dropdown {
   text-align: center;
 }

 .form-control  {
   margin-bottom: 40px;
 }

 .btn {
   margin-bottom: 40px;
 }

#distance {
   margin-bottom: -40px;
 }
 /*Controls the header on the first page. Does not control the tittle*/
 .page-header {
   text-align: center;
   background-color: #66c2ff;
   height: 100px;
   margin-top: -40px;
   margin-bottom: -20px;
 }

 #second-header {
   background-color: #66c2ff;
   margin-top: 0px;
   font-weight: bolder;
   height: 100px;
}

 /*Control home link on second page*/
.home-link {
  float: left;
  margin-left: 20px;
  font-weight: bold;
}
/*Control padding of Volunteer Connection tittle*/
#header-title {
  padding-top: 30px;
}
/*Bottom header: It says "Type in a search keyboard below or click"*/
#bottom-header {
  height: 50px;
  margin-top: -20px;
  text-indent: center;
  background-color: #66c2ff;
  text-align: center;
  padding-top: 10px;
}

/*-----------
MEDIA QUERIES
------------*/
@media only screen and (max-width: 2300px) {
  #environment {
    margin-bottom: 700px;
  }
}

@media only screen and (max-width: 2000px) {
  #environment {
    margin-bottom: 600px;
  }
}

@media only screen and (max-width: 1800px) {
  #environment {
    margin-bottom: 550px;
  }
}

@media only screen and (max-width: 1600px) {
  #environment {
    margin-bottom: 500px;
  }
}

@media only screen and (max-width: 1400px) {
  #environment {
    margin-bottom: 425px;
  }
}

@media only screen and (max-width: 1300px) {
  #environment {
    margin-bottom: 325px;
  }
}

@media only screen and (max-width: 1200px) {
  #environment {
    margin-bottom: 250px;
  }
}

@media only screen and (max-width: 1030px) {
  #environment {
    margin-bottom: 235px;
  }
}

@media only screen and (max-width: 990px) {
  #environment {
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 930px) {
  #environment {
    margin-bottom: 125px;
  }
}

@media only screen and (max-width: 790px) {
  #animals, #kids, #environment {
    font-size: 200%;
  }
}

@media only screen and (max-width: 540px) {
  #kids {
    margin-bottom: 10px;
  }
}
  #environment {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 480px) {
  #environment {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 425px) {
  #environment {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 340px) {
  #environment {
    margin-bottom: 0px;
  }
}
/*Media querie for bottom header on the main page*/
/*Media querie for 1040px*/
@media only screen and (max-width: 1040px) {
  #bottom-header {
    margin-bottom: 0px;
    font-size: 98%;
  }
}
/*media querie for 325px*/
@media only screen and (max-width: 325px) {
  #bottom-header {
    margin-bottom: 0px;
    font-size: 9px;
  }
}
/*media querie for header in index. "volunteer connection. get involved"*/
@media only screen and (max-width: 500px) {
  #header-title {
    font-size: 90%;
  }
}
/*End of Media Queries*/

/*------------
SEARCH BOX CSS
-------------*/

body {
    background: #f7f7f7;
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container, .main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*height: 300px;*/
}

.main {
  margin-top: 50px;
  text-align: center;
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
    margin-left: 5px;
    margin-right: 5px;
}
.btn {
  margin-left: 5px;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 400px;
    display: inline-flex;
}

.search input {
  float: left;
    height: 35px;
    padding: 0 12px 0 25px;
    /*background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;*/
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

@media only screen and (max-width: 480px) {
  .search input {
    width: 85%;
    margin-left: 15px;
  }
  .btn {
    margin-left: 15px;
